aiofiles==0.8.0
aiohttp==3.7.4.post0
aiosignal==1.2.0
aiosqlite==0.17.0
anyio==3.4.0
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
asyncio-extras==1.3.2
asyncpraw==7.5.0
asyncprawcore==2.3.0
attrs==21.2.0
braceexpand==0.1.7
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
dblpy==0.4.0
discord.py==1.7.3
DiscordUtils==1.3.4
frozenlist==1.2.0
h11==0.12.0
hentai==3.2.9
httpcore==0.14.3
httpx==0.21.1
idna==3.3
import-expression==1.1.4
jishaku==2.3.2
multidict==5.2.0
Pillow==8.4.0
py-cord @ git+https://github.com/Pycord-Development/Pycord@5a9c67ecca94cf5b710958c6fc0f03e0ec0a4c72
pycares==4.1.2
pycparser==2.21
python-dotenv==0.19.2
randomstuff.py==2.0.0
ratelimiter==1.2.0.post0
requests==2.26.0
rfc3986==1.5.0
shortuuid==1.0.8
six==1.16.0
sniffio==1.2.0
tqdm==4.62.3
typing_extensions==4.0.1
update-checker==0.18.0
urllib3==1.26.7
ws4py==0.5.1
yarl==1.7.2
